<div class="row">
  <div class="col-md-6">
    <h3>Notes</h3>
    <ul class="list-group">
      {{#each jsondata}}
        <li class="list-group-item"><strong>{{this.title}}</strong> — {{this.body}}</li>
      {{/each}}
    </ul>
    <a class="btn btn-primary" href="/add_note">Add note</a>
  </div>
  <div class="col-md-6">
    <h3>Users (from MySQL)</h3>
    <table class="table table-striped">
      <thead><tr><th>#</th><th>username</th><th>email</th></tr></thead>
      <tbody>
        {{#each users}}
          <tr><td>{{this.id}}</td><td>{{this.username}}</td><td>{{this.email}}</td></tr>
        {{/each}}
      </tbody>
    </table>
    <a class="btn btn-default" href="/add_user">Add user</a>
  </div>
</div>
